@page
@model Rentify.RazorWebApp.Pages.Account.Forbidden

<div class="row text-center">
    <h3 class="text-danger">Forbidden</h3>
    <h4 class="text-danger">You do not have permission to do this function!</h4>
</div>